<div class="row">
  <div class="large-8 columns large-centered">
    <h1>Email Machine Settings</h1>
    <br>
    <h5>Available Templates <%= link_to '[+New]', new_template_path %></h5>
    <table>
      <tr>
        <th>Name</th>
        <th>Asset Host</th>
        <th>Active</th>
        <th>Actions</th>
      </tr>

    <% @templates.each do |template| %>
      <tr>
        <td><%= template.name %></td>
        <td><%= template.asset_host %></td>
        <td><%= template.selected ? "Yes" : "No" %></td>
        <td><%= link_to 'Show', template, :class => 'tiny button radius' %> | 
        <%= link_to 'Edit', edit_template_path(template), :class => 'tiny button radius' %> | 
        <%= link_to 'Destroy', template, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'tiny button radius' %></td>
      </tr>
    <% end %>
    </table>

    <br />

    
  </div>
</div>

