<h1>Listing publics</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Body</th>
    <th>Position</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @publics.each do |public| %>
  <tr>
    <td><%= public.title %></td>
    <td><%= public.body %></td>
    <td><%= public.position %></td>
    <td><%= link_to 'Show', public %></td>
    <td><%= link_to 'Edit', edit_public_path(public) %></td>
    <td><%= link_to 'Destroy', public, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Public', new_public_path %>
