<div id="menu">
	<%= link_to "Home", preview_url %>
	<%= link_to "+ Story", new_story_path %>
	<%= link_to "Generate", :action => 'generate' %>
	<%= link_to "Download", :action => 'download' %>
	<%= link_to "Raw Code", :action => 'raw' %>
</div>