<h1>Listing stories</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Body</th>
    <th>Image name</th>
    <th>Position</th>
    <th>Archived</th>
    <th>Call to action</th>
    <th>Link</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @stories.each do |story| %>
  <tr>
    <td><%= story.title %></td>
    <td><%= story.body %></td>
    <td><%= story.image_name %></td>
    <td><%= story.position %></td>
    <td><%= story.archived %></td>
    <td><%= story.call_to_action %></td>
    <td><%= story.link %></td>
    <td><%= link_to 'Show', story %></td>
    <td><%= link_to 'Edit', edit_story_path(story) %></td>
    <td><%= link_to 'Destroy', story, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Story', new_story_path %>
