
<div class="row">
	<div class="large-6 columns">
		<h1>Users</h1>
		<ul class="button-group">
			<li><%= link_to "Approved Users", {:action => "index"}, {:class=> "button success small"} %></li>
			<li><%= link_to "Unapproved Users", {:action => "index", :approved => "false"}, {:class=> "button secondary small"} %></li>
		</ul>
	</div>
</div>
<div class="row">
	<div class="large-6 columns">
	<% if @user_count == 0 %>
	<div class="panel">
		Nothing to see here :)
	</div>
	<% else %>
		<table>
			<tr>
				<th>Email</th>
				<th>Approved</th>
				<th>Action</th>
			</tr>
			<% @users.each do |user| %>
			<tr>
				<td><%= user.email %></td>
				<td><%= user.approved ? "Yes" : "No" %></td>
				<td><%= link_to "Approve", {:action => "approve", :id => user.id}, :class => "button small success" %></td>
				</tr>
			<% end %>
		</table>
		<% end %>
	</div>
</div>
